* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: burlywood;
    margin: 15px 0px;
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS_4_2w6cXBr8MwNziVlPFRV6LsJHHBV6JQIbxCtc5zw&s);
    background-size: 25% 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    background-color: rgb(245, 219, 184);
    padding: 10px 45px;
    font-size: 55px;
}

.list {
    background-image: url(https://media.istockphoto.com/id/157308943/photo/waves-of-sand.jpg?s=612x612&w=0&k=20&c=IgclKkRCbqShglC7ezR87vqgWJmNdwc--pNTtjeCWCI=);
    background-size: 25% 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

ul {
    margin-top: 25px;
    list-style: none;
}

li {
    padding: 15px;
    font-size: 50px;
}

a {
    text-decoration: none;
    font-size: 50px;
    transition: all 0.3s;
    font-weight: bold;
}

a:hover {
    font-size: 70px;
    color: rgb(246, 250, 6);
}

a:visited {
    color: rgb(4, 134, 26);
}

#uspekh {
    text-decoration: line-through;
}